.grid {
	display: flex;
	width: 600px;
	height: 600px;
	flex-wrap: wrap;
	justify-content: space-around;
}

.cell {
	flex: 0 0 32%;
	height: 32%;
	margin-bottom: 5px;
}

#cell1 {
	background: url('/images/source.png');
	background-position: 0px 0px;
}

#cell2 {
	background: url('/images/source.png');
	background-position: 400px 0px;
}

#cell3 {
	background: url('/images/source.png');
	background-position: 200px 0px;
}

#cell4 {
	background: url('/images/source.png');
	background-position: 0px 400px;
}

#cell5 {
	background: url('/images/source.png');
	background-position: 400px 400px;

}

#cell6 {
	background: url('/images/source.png');
	background-position: 200px 400px;
}

#cell7 {
	background: url('/images/source.png');
	background-position: 0px 200px;
}

#cell8 {
	background: url('/images/source.png');
	background-position: 400px 200px;
}

#cell9 {
	background: url('/images/source.png');
	background-position: 200px 200px;
}